<div class="mt-4">
    <form method="POST" action="/courses/{{course._id}}?_method=PUT">
        <div class="mb-3">
            <label for="name" class="form-label">Tên Khóa học</label>
            <input value="{{course.name}}" type="text" name="name" class="form-control" id="name">
        </div>

        <div class="mb-3">
            <label for="decription" class="form-label">Mô tả</label>
            <textarea type="text" name="decription" class="form-control" id="decription">{{course.decription}}</textarea>
        </div>

        <div class="mb-3">
            <label for="videoID" class="form-label">Video ID</label>
            <input value="{{course.videoID}}" type="text" name="videoID" class="form-control" id="videoID">
        </div>

        <div class="mb-3">
            <label for="level" class="form-label">Level</label>
            <input value="{{course.level}}" type="text" name="level" class="form-control" id="level">
        </div>

        <button type="submit" class="btn btn-primary">Lưu</button>
</form>
</div>